<?xml version="1.1" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-plugin-ios-permissions" version="1.2">
	<name>Cordova iOS Permissions</name>
	<description>This plugin sets language dependant entries in the IOS plist file; does nothing on Android.</description>
	<license>MIT</license>
	<repo>https://github.com/MBuchalik/cordova-plugin-ios-permissions</repo>

	<platform name="ios">
		<!--
		<config-file platform="ios" target="*-Info.plist" parent="CFBundleLocalizations" mode="overwrite">
				<array>
					 <string>en</string>
					 <string>de</string>
				</array>
		</config-file>
		-->
		<config-file target="*-Info.plist" parent="CFBundleLocalizations" mode="overwrite">
				<array>
					 <string>German</string>
				</array>
		</config-file>
	<!--
		<config-file target="*-Info.plist" parent="NSCameraUsageDescription">
			<string>This app needs access to the camera to take photos.</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
			<string>This app needs access to the photo library to pick images.</string>
		</config-file>
	-->
		<resource-file src="src/ios/de.lproj" />
		<resource-file src="src/ios/en.lproj" />
		<!-- <resource-file src="src/ios/pt.lproj" /> -->
	</platform>
</plugin>
